Source: radon-vendor-32
Maintainer: Bardia Moshiri <fakeshell@bardia.tech>
Section: misc
Priority: optional
Build-Depends: debhelper-compat (= 13),
               curl,
               tar,
Standards-Version: 4.7.2
Vcs-Browser: https://github.com/furilabs/radon-vendor-32
Vcs-Git: https://github.com/furilabs/radon-vendor-32.git

Package: radon-vendor-32
Architecture: arm64
Depends: ${misc:Depends}
Provides: radon-vendor-image
Description: Vendor Image
 This package provides a working vendor image for Radon
